#details-container {
	position: absolute;
	top: 20%;
	left: 30%;
	min-width: 500px;
	min-height: 200px;
	z-index: 9999;
}
#details-dialog {
	min-width: 500px;
	min-height: 200px;
}
#details-title {
	position: relative;
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin-left: 8px;
	margin-bottom: 12px;
}
#details-dialog-close {
	float: right;
	position: absolute;
	top: -2px;
	right: -2px;
	width: 14px;
	height: 14px;
	border-radius: 8px;
	border: 2px solid #777;
	text-align: center;
	line-height: 14px;
}
#details-info { }
#details-info li {
	margin-left: 6px;
	text-indent: -6px;
	margin-bottom: 4px;
}
#details-tabs-container {
	position: relative;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
#details-dialog-tabs {
	overflow: hidden;
	margin-bottom: -1px;
	padding: 0px;
	vertical-align: bottom;
}
.details-tab, .details-tab-active {
	display: inline-block;
	float: left;
	clear: none;
	margin: 0px 3px;
	border: 1px solid #ddd;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 5px 10px;
	font-size: 13px;
}
.details-tab {
	background-color: #eee;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
	background: -webkit-linear-gradient(top, #eee, #fff);
	background: -moz-linear-gradient(top, #eee, #fff);
	background: -ms-linear-gradient(top, #eee, #fff);
	background: -o-linear-gradient(top, #eee, #fff);
}
.details-tab:hover {
	cursor: pointer;
	background-color: #D7E8EF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D7E8EF), to(#E7F6FD));
	background: -webkit-linear-gradient(top, #D7E8EF, #E7F6FD);
	background: -moz-linear-gradient(top, #D7E8EF, #E7F6FD);
	background: -ms-linear-gradient(top, #D7E8EF, #E7F6FD);
	background: -o-linear-gradient(top, #D7E8EF, #E7F6FD);
}
.details-tab-active {
	background-color: #fff;
	border-bottom-color: #fff;
}
#details-content {
	position: relative;
	display: block;
	min-height: 340px;
	max-height: 460px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.details-table-row, .details-table-header-row {
	position: relative;
	display: block;
	overflow: hidden;
	border-color: #ddd;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 2px 0px;
}
.details-table-header-row {
	background-color: #D7E8EF;
}
.details-table-cell, .details-table-header {
	display: table-cell;
	vertical-align: bottom;
	height: 30px;
	padding: 0px 2px;
	overflow: hidden;
	text-align: right;
}
.details-table-header {
	font-weight: bolder;
	vertical-align: bottom;
}
.details-table-cell {
	vertical-align: middle;
}