body {
  overflow-x: hidden;
  overflow-y: auto;
}

#storymap-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #e5f0f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 1;
  -moz-transition: opacity 800ms;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}

.sm-page {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #D7E8EF;
}

#storymap-container {
  position: relative;
  width: 100%;
  background: #41525a;
}
#narrative {
  overflow: auto;
  width: 275px;
  background: #b9cad8;
}
#visual {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: calc(100% - 275px);
}
#visual.active {
  position: fixed;
}
#visual.exit-bottom {
  position: absolute;
  bottom: 0;
  top: auto !important;
}

@media screen and (min-width: 600px) {
  #narrative {
    width: 300px;
  }
  #visual {
    width: calc(100% - 300px);
  }
}
@media screen and (min-width: 700px) {
  #narrative {
    width: 50%;
  }
  #visual {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  #narrative {
    width: 45%;
  }
  #visual {
    width: 55%;
  }
}
@media screen and (min-width: 900px) {
  #narrative {
    width: 40%;
  }
  #visual {
    width: 60%;
  }
}

.sm-step {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  min-height: 200px;
}
.sm-step div {
  box-sizing: border-box;
}

#narrative .sm-step {
  padding: 50px 10px 0px 20px;
}
#narrative .sm-step[sm-action*="release"] {
  margin-bottom: 50px;
}
#narrative .sm-step[sm-action*="hold"] {
  margin-top: 50px;
}
#narrative .sm-step[sm-action*="last"] {
  min-height: 100vh;
}

#visual .sm-step {
  height: 100vh;
}

#step-container {
  width: 100%;
}
.ol-zoom {
  left: 4px;
  right: auto;
  top: 4px;
}