<div class="sm-step">
  <div class="narrative-content">
    <h3>Informed Consumers Can Reduce Their Exposure to Contaminants in Fish</h3>
    <p>Contaminants, especially mercury, pose a risk to people that eat fish from water bodies throughout California.  However, the contamination is not uniformly distributed across water bodies or across species.  Some water bodies have lower concentrations of contaminants than others, and some species consistently have lower concentrations than others.  People that catch and eat fish from California lakes, rivers and streams, and coastal waters can significantly reduce their exposure to contaminants by targeting the water bodies and species that have relatively low concentrations.</p>
  </div>
</div>

<div class="sm-step" sm-action="release"></div>
<div class="sm-step" sm-action="hold"></div>

<div class="sm-step">
  <div class="narrative-content">
    <h3>SWAMP Monitoring Has Identified Lakes with Relatively Low Contaminant Concentrations</h3>
    <p>Since 2007, SWAMP has sampled contaminants in fish in lakes, rivers and streams, and coastal waters through the state.  California has almost 10,000 lakes, and SWAMP has sampled over 300 of them, focusing on lakes that are most popular for fishing.  </p>
    <p>The monitoring has shown that mercury is the contaminant that reaches the highest levels of concern across all of the types of water bodies.  Because mercury reaches higher concentrations over the lifespan of a fish and with each step up the food chain, older fish at the top of the food chain (like black bass) have the highest concentrations.  With their potential for accumulation of high concentrations and their broad distribution in California lakes, black bass (a group that includes largemouth bass, smallmouth bass, and spotted bass) have emerged as an excellent indicator of the degree of mercury contamination.</p>
    <p>From 2007 through 2014, SWAMP measured mercury in black bass (mostly largemouth bass) in 157 lakes across the state.  The concentrations measured in these bass ranged from a low of 0.02 parts per million (ppm) in Toluca Lake in Los Angeles, to a maximum of 2.15 ppm in Almaden Lake in San Jose.</p>
    <p>Thirty percent of the lakes sampled had an average bass concentration above 0.44 ppm (red area of Figure 1).  Concentrations in this range are high enough that the California Office of Environmental Health Hazard Assessment (OEHHA) usually advises that the sensitive population (women aged 18-45 and children aged 1-17) does not consume these fish.</p>
    <p>Half of the lakes sampled had bass with average mercury concentrations between 0.15 and 0.44 ppm (orange area of Figure 1).  OEHHA typically advises that fish with concentrations in this range can be eaten at a frequency of one 8-ounce serving per week.</p>
    <p>Twenty percent of the lakes sampled had bass with average concentrations below 0.15 ppm (yellow area of Figure 1).  OEHHA typically advises that fish with mercury in this range can be eaten at a frequency of two 8-ounce servings per week, or even more servings as concentrations fall below 0.07 ppm.  The OEHHA guidelines indicate that the less-sensitive population (women over 45 and men) can eat four or more servings of fish with mercury below 0.15 ppm.  Since black bass tend to have the highest mercury concentrations of all species, when mercury concentrations in black bass are this low, it is likely that the other species in these lakes are also low.  This lower 20% of the lakes sampled can be considered to have relatively low concentrations of mercury.</p>
  </div>
</div>

<div class="sm-step" sm-action="release"></div>
<div class="sm-step" sm-action="hold"></div>

<div class="sm-step" style="height:100vh;">
  <div class="narrative-content">
    <h3>A Closer Look at Lakes with Low Concentrations </h3>
    <p>In 2014, SWAMP conducted a study to confirm that the low concentrations of mercury in these lakes persist over time.  The blue bars in Figure 1 are lakes that were re-sampled after an interval of 6-7 years to see if concentrations remained low.  Concentrations were generally very consistent between the two rounds of sampling.  Relatively low mercury appears to be an enduring characteristic of these lakes.</p>
    <p>The 2014 study also measured concentrations of PCBs, the contaminant that of second greatest concern in California fish.  The purple stars in Figure 2 indicate lakes in which a strong PCB accumulator species was sampled and also had low concentrations of PCBs (again, based on a comparison to OEHHA guidelines).  The lakes with blue bars and purple stars therefore were found to pass a rigorous screening for the two contaminants that drive most of the concern for health risks due to consumption of sport fish in California.</p>
  </div>
</div>

<div class="sm-step" sm-action="release"></div>
<div class="sm-step" sm-action="hold"></div>

<div class="sm-step" sm-call="mapFunctionA" style="height:100vh;">
  <div class="narrative-content">
    <h3>A Geographic Mystery</h3>
    <p>The bass mercury data have a spatial pattern indicating that the southeastern corner of the state tends to have low concentrations (Figure 3).  This spatial pattern has persisted over time.  The 2014 study included an effort to identify factors that may explain this pattern, but the results were inconclusive.  The existence of this persistent pattern, however, presents an opportunity to figure out why the lakes in this part of the state tend to be so much lower in mercury, and perhaps identify lessons that can be applied to reduce mercury in lake food webs in other parts of the state.</p>
  </div>
</div>

<div class="sm-step" sm-action="release"></div>
<div class="sm-step" sm-action="hold"></div>

<div class="sm-step" sm-action="release">
  <div class="narrative-content">
    <h3>Some Species Are Lower in Mercury and Other Contaminants</h3>
    <p>SWAMP monitoring over the past 10 years has also provided data showing that some species consistently have lower contaminant concentrations than others.  OEHHA’s statewide advisory for California lakes and reservoirs without site-specific advice (Figure 4) is based largely on these data and the consistent differences among species.  OEHHA advises more limited consumption of black bass, primarily because of the tendency of these species to have relatively high mercury concentrations.  In contrast, sunfish species are typically present in the same lakes as black bass, but the advisory allows more consumption of sunfish because they tend to have lower mercury concentrations.  Rainbow trout are the most abundant species in many higher elevation lakes, and tend to have the lowest relative concentrations of contaminants.</p>
  </div>
</div>

<div class="sm-step" sm-action="hold" style="padding-top:200px;">
  <div class="narrative-content">
    <h3>Choose the Right Location and the Right Fish</h3>
    <p>OEHHA has site-specific advisories in place for many of the lakes in California that are most popular for fishing.  The consumption rates recommended in these advisories take into account both the variation among lakes and the variation among species in contaminant concentrations.  People who catch and eat fish from California lakes can reduce their exposure to chemicals, and maximize the benefits of fish consumption, by choosing locations and species with lower concentrations.</p>
  </div>
</div>