<div class="sm-visual" style="overflow:hidden;">
  <img src="images/fishingimage1.jpg" style="display:block;min-height:100%;min-width:100%;height:100%;margin:auto;" alt="Fishing on the pier" />
</div>

<div class="sm-visual">
  <img src="images/avg-mercury-black-bass.png" style="display:block;height:100%;max-width:100%;margin:auto;" alt="Average Mercury in Black Bass 2007-2014" />
</div>

<div class="sm-visual" style="background:#fff;">
  <img src="images/lower-mercury-pcb.png" style="display:block;height:100%;max-width:100%;margin:auto;" alt="CA Lakes with Lower Mercury and PCBs" />
</div>

<div id="step-container" class="sm-visual">
  <div id="map-view"></div>
</div>

<div class="sm-visual" style="display:flex;">
  <img src="images/ca-fish-guide.png" style="display:block;width:100%;margin:auto;" alt="A Guide to Eating Fish from CA Lakes and Reservoir" />
</div>

<div class="sm-visual" style="overflow:hidden;">
  <img src="images/fishingimage2.jpg" style="display:block;min-height:100%;min-width:100%;height:100%;margin:auto;" alt="Fishing on the pier" />
</div>