<div class="sm-visual">
  
  <div id="frame-1" class="frame" style="overflow:hidden;">
    <img src="images/fishingimage1.jpg" style="display:block;min-height:100%;min-width:100%;height:100%;margin-left:50%;transform:translateX(-50%);" alt="Fishing on the pier" />
  </div>

  <div id="frame-2" class="frame">
    <img src="images/avg-mercury-black-bass.png" style="display:block;height:100%;max-width:100%;margin:auto;" alt="Average Mercury in Black Bass 2007-2014" />
  </div>

  <div id="frame-3" class="frame" style="background:#fff;">
    <img src="images/lower-mercury-pcb.png" style="display:block;height:100%;max-width:100%;margin:auto;" alt="CA Lakes with Lower Mercury and PCBs" />
  </div>

  <div id="frame-4" class="frame">
    <div id="step-container">
      <div id="map-view"></div>
      <div id="details-container" style="display:none;"></div>
    </div>
  </div>

  <div id="frame-5" class="frame" style="display:flex;">
    <img src="images/ca-fish-guide.png" style="display:block;width:100%;margin:auto;" alt="A Guide to Eating Fish from CA Lakes and Reservoir" />
  </div>

  <div id="frame-6" class="frame" style="overflow:hidden;">
    <img src="images/fishingimage2.jpg" style="display:block;min-height:100%;min-width:100%;height:100%;margin-left:50%;transform:translateX(-50%);" alt="Fishing on the pier" />
  </div>
  
</div>