<style>
  #legend-container {
    top: 30px;
    left: auto;
    right: 20px;
  }
</style>

<div class="sm-visual">
  <div style="height:100%;text-align:center;background:#3886ad;padding-top:40%">Intro Graphic</div>
</div>

<div class="sm-visual">
  <img src="images/avg-mercury-black-bass.png" style="display:block;height:100%;max-width:100%;margin:auto;" alt="Average Mercury in Black Bass 2007-2014" />
</div>

<div class="sm-visual" style="background:#fff;">
  <img src="images/lower-mercury-pcb.png" style="display:block;height:100%;max-width:100%;margin:auto;" alt="CA Lakes with Lower Mercury and PCBs" />
</div>

<div id="step-container" class="sm-visual">
  <div id="map-view"></div>
</div>

<div class="sm-visual" style="display:flex;">
  <img src="images/ca-fish-guide.png" style="display:block;width:100%;margin:auto;" alt="A Guide to Eating Fish from CA Lakes and Reservoir" />
</div>

<div class="sm-visual">
  <div style="height:100%;text-align:center;background:#7bab70;padding-top:40%">Exit Graphic</div>
</div>
